<br>
<h1 class="ban">Bandanas</h1>
<br>
<br>
<br>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="{% static 'core/img/bandana1.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Bandana simple</h5>
                                <p class="card-text">
                                    Bandana de género 100% algodón disponible en 3 colores: en negro, en azul y en rojo
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'core/img/bandana2.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Bandana rock</h5>
                                <p class="card-text">
                                    Bandana estampado especial en serigrafía estilo rock, diseño único
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'core/img/bandana3.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Bandana color liso simple</h5>
                                <p class="card-text">
                                    Bandana color liso con estampado simple, disponible en 4 diseños diferentes
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<hr>