<br>
<h1 class="corr">Correas</h1>
<br>
<br>
<br>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="{% static 'core/img/correa1.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Correa turquesa</h5>
                                <p class="card-text">
                                    Correa de mediana resistencia color turquesa, tamaño ajustable, marca petlounge
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'core/img/correa2.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Correa rosa</h5>
                                <p class="card-text">
                                    Correa de mediana resistencia color turquesa, tamaño ajustable, marca petlounge
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'core/img/correa3.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Correa ultra resistente</h5>
                                <p class="card-text">
                                    Correa ultra resistente especial para razas grandes, marca generiko
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<hr>
<br>
<br>