<br>
<h1 class="iden">Identificaciones</h1>
<br>
<br>
<br>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="{% static 'core/img/iden1.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Placa metalica simple</h5>
                                <p class="card-text">
                                    Placa metalica simple disponible en diferentes colores, grabado personalizado
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'core/img/iden2.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Placa gps DIY</h5>
                                <p class="card-text">
                                    Placa smart con gps incluído, más un lapiz grabador de placa para que tu mismo la personalices
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'core/img/iden3.jpg'%}" class="card-img-top" width="200px" height="300px" />
                            <div class="card-body">
                                <h5 class="card-title">Placa generica</h5>
                                <p class="card-text">
                                    Placa con diseño de perro genérico, reverso con información personalizable
                                </p>
                                <a href="#!" class="btn btn-primary">Agregar al carrito</a>
                                <p class="card-text">60 unidades disponibles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<hr>
<br>
<br>