<br>
<h1 class="corr">Tienda</h1>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img src="img/correa1.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Correa turquesa</h5>
                    <p class="card-text">
                        Correa de mediana resistencia color turquesa, tamaño ajustable, marca petlounge
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>


        <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
                <img src="img/correa2.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Correa rosa</h5>
                    <p class="card-text">
                        Correa de mediana resistencia color turquesa, tamaño ajustable, marca petlounge
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
                <img src="img/correa3.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Correa ultra resistente</h5>
                    <p class="card-text">
                        Correa ultra resistente especial para razas grandes, marca generiko
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img src="img/bandana1.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Bandana simple</h5>
                    <p class="card-text">
                        Bandana de género 100% algodón disponible en 3 colores: en negro, en azul y en rojo
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
                <img src="img/bandana2.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Bandana rock</h5>
                    <p class="card-text">
                        Bandana estampado especial en serigrafía estilo rock, diseño único
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990

                </div>
            </div>
        </div>


        <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
                <img src="img/bandana3.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Bandana color liso simple</h5>
                    <p class="card-text">
                        Bandana color liso con estampado simple, disponible en 4 diseños diferentes
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <img src="img/iden1.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Placa metalica simple</h5>
                    <p class="card-text">
                        Placa metalica simple disponible en diferentes colores, grabado personalizado
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
                <img src="img/iden2.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Placa gps DIY</h5>
                    <p class="card-text">
                        Placa smart con gps incluído, más un lapiz grabador de placa para que tu mismo la personalices
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
                <img src="img/iden3.jpg" class="card-img-top" width="200px" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">Placa generica</h5>
                    <p class="card-text">
                        Placa con diseño de perro genérico, reverso con información personalizable
                    </p>
                    <p class="card-text">60 unidades disponibles</p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                    </div>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <!--
                              --><label for="radio1">★</label>
                            <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                            <!--
                              --><label for="radio2">★</label>
                            <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                            <!--
                              --><label for="radio3">★</label>
                            <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                            <!--
                              --><label for="radio4">★</label>
                            <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                            <!--
                              --><label for="radio5">★</label>
                        </p>
                    </form>
                    <a href="#!" class="btn btn-primary">Agregar al carrito</a>

                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$10.990</span> $9.990
                </div>
            </div>
        </div>


    </div>
</div>

<br>
<br>
<hr>
<br>
<br>